[Unit]
Description=Carawonga backend
After=network-online.target
After=database.service
Wants=network-online.target
Wants=database.service

[Service]
User=carawonga
TimeoutStartSec=5
ExecStartPre=-/bin/podman kill backend 2>/dev/null
ExecStartPre=-/bin/podman rm backend 2>/dev/null
ExecStart=/bin/podman run --name backend \
  -v /etc/nginx/conf.d:/etc/nginx/conf.d \
  -l database \
  -e PUID=1001 \
  -p 8080:80 \
  -p 8443:443 \
  richarvey/nginx-php-fpm:1.10.4

[Install]
WantedBy=multi-user.target