[Unit]
Description=Carawonga backend
After=backend-migration
After=network-online.target
Wants=network-online.target
ConditionPathExists=/home/carawonga/.backend.ok

[Service]
Restart=always
User=carawonga
ExecStartPre=-/bin/podman kill backend 2>/dev/null
ExecStartPre=-/bin/podman rm backend 2>/dev/null
ExecStart=/bin/podman run --name backend \
  -v /etc/nginx/conf.d:/etc/nginx/conf.d \
  -v backend:/var/www \
  -l database \
  -e PUID=1001 \
  -p 8080:80 \
  -p 8443:443 \
  richarvey/nginx-php-fpm:1.10.4

[Install]
WantedBy=multi-user.target