[Unit]
Description=Carawonga database
After=network-online.target
Wants=network-online.target
ConditionPathExists=/home/carawonga/.mysql.ok

[Service]
User=carawonga
TimeoutStartSec=0
EnvironmentFile=/home/carawonga/.mysql.auth
ExecStartPre=-/bin/podman kill database 2>/dev/null
ExecStartPre=-/bin/podman rm database 2>/dev/null
ExecStart=/bin/podman run --name database \
  -v database:/var/lib/mysql \
  -e MYSQL_USER=${MYSQL_USER} \
  -e MYSQL_PASSWORD=${MYSQL_PWD} \
  -e MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD} \
  mysql/mysql-server:5.7.18

[Install]
WantedBy=multi-user.target