[Unit]
Description=Carawonga database
After=network-online.target
Wants=network-online.target

[Service]
KillMode=none
Type=forking
Restart=always
PIDFile=%t/container-%n.pid
EnvironmentFile=/etc/mysql.auth
User=carawonga
ExecStartPre=/bin/rm -f %t/container-%n.pid %t/container-%n.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-%n.pid --cidfile %t/container-%n.ctr-id --cgroups=no-conmon -d --replace \
  --name %n \
  -e TZ=America/Los_Angeles \
  -e PUID=1001 \
  -e PGID=1001 \
  -e MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD} \
  -e MYSQL_USER=${MYSQL_USER} \
  -e MYSQL_PASSWORD=${MYSQL_PWD} \
  -v /home/carawonga/mariadb:/config \
  -p 3306:3306 \
  ghcr.io/linuxserver/mariadb:alpine-version-10.5.9-r0
  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-%n.ctr-id -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-%n.ctr-id

[Install]
WantedBy=multi-user.target