[Unit]
Description=Carawonga SWAG
After=network-online.target
Wants=network-online.target

[Service]
KillMode=none
Type=forking
Restart=always
PIDFile=%t/container-%n.pid
User=carawonga
ExecStartPre=/bin/rm -f %t/container-%n.pid %t/container-%n.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-%n.pid --cidfile %t/container-%n.ctr-id --cgroups=no-conmon -d --replace \
  --name %n \
  --cap-add=NET_ADMIN \
  -e TZ=America/Los_Angeles \
  -e PUID=1001 \
  -e PGID=1001 \
  -e URL=carawonga.com \
  -e SUBDOMAINS=www \
  -e EXTRA_DOMAINS="www.carawonga.com,carawonga.hu,www.carawonga.hu" \
  -e VALIDATION=dns \
  -v /home/carawonga/nginx:/config \
  -p 443:443 \
  -p 80:80 \
  -l database \
  linuxserver/swag:version-1.14.0

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-%n.ctr-id -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-%n.ctr-id

[Install]
WantedBy=multi-user.target